/* 文档最外层 */
.doc-container {
  padding-top: 10px;
  padding-bottom: 60px;
  position: relative;
}
@media (min-width: 480px) {
  .doc-container {
    padding-top: 10px;
  }
}
@media (min-width: 840px) {
  .doc-container {
    padding-top: 10px;
    width: 65%;
    /* margin-left: 130px; */
  }
}

div.mdui-drawer i, div.mdui-drawer a {
  text-decoration:none;
}

div.mdui-drawer i:hover, div.mdui-drawer a:hover {
  text-decoration: none;
}

div.break-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 1.15em;
}

.tag {
  border-radius: 6px;
  color: #e8e8e8;
  padding: 5px 8px;
  font-size: 0.9em;
  background-color: brown;
  margin-right: 8px;
  transition: border-radius .3s, color .3s;
}

.tag2 {
  display: inline-block;
  border-radius: 6px;
  color: #f5e9e9;
  padding: 6px 8px;
  font-size: 0.75rem;
  background-color: brown;
  margin: 8px;
  transition: border-radius .3s, color .3s;
}

.tag span, .tag2 span {
  font-size: 0.65rem;
}

.tag:hover, .tag2:hover, .tag:active, .tag2:active{
  text-decoration: none;
  color: #f7efef;
  cursor: pointer;
  border-radius: 0;
}

.tag-color-0 {
  background-color:rgb(43, 156, 118)
}

.tag-color-1 {
  background-color:rgb(66, 123, 209)
}

.tag-color-2 {
  background-color:rgb(81, 209, 87)
}

.tag-color-3 {
  background-color:rgb(204, 147, 25)
}

.tag-color-4 {
  background-color:rgb(224, 77, 188)
}

.topic-tag {
  font-size: 0.7rem;
  font-weight: bold;
  
}

/*　分页 */
.pagination {
  display: flex;
  list-style: none;
  border-radius: .25rem;
  margin: 20px 0;
  padding: 0;
  justify-content: center;
}

.page-link {
  position: relative;
  display: block;
  padding: .3rem .65rem;
  margin-left: -1px;
  /* line-height: 1.25; */
  color: #007bff;
  /* background-color: #fff; */
  border: 1px solid #dee2e6;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  /* border-color: #007bff; */
}

div.direct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 0 0;
  font-size: 1.2em;
}